<div class="Modal" [ngClass]="{'openClose': openClose}">
  <div class="Modal-box">
    <span [ngClass]="{'openClose': !openClose}" (click)="openCloseModal()">Close</span>
    <div class="Modal-box-first">
      <h2>Géant Casino (Le Puy-en-Velay)</h2>

      <div class="CardChart">

        <div class="CardChart-area" style="width: 100%; height: 220px; position: relative;">
          <canvas id="chartBig1"></canvas>
        </div>

      </div>

              <div class="Carburants" data-toggle="buttons">
                <label class="Carburant" id="0">
                  <input type="radio" name="options" autocomplete="off" checked> Accounts
                </label>
                <label class="Carburant" id="1">
                  <input type="radio" name="options" autocomplete="off"> Purchases
                </label>
                <label class="Carburant" id="2">
                  <input type="radio" name="options" autocomplete="off"> Sessions
                </label>
              </div>




      <div class="Carburants">
        <div class="Carburant">
          <input type="radio" id="Carburant1" name="Carburant" value="Carburant1" checked>
          <label for="Carburant1">Carburant1</label>
        </div>
        <div class="Carburant">
          <input type="radio" id="Carburant2" name="Carburant" value="Carburant2">
          <label for="Carburant2">Carburant2</label>
        </div>
        <div class="Carburant">
          <input type="radio" id="Carburant3" name="Carburant" value="Carburant3">
          <label for="Carburant3">Carburant3</label>
        </div>
        <div class="Carburant">
          <input type="radio" id="Carburant4" name="Carburant" value="Carburant4">
          <label for="Carburant4">Carburant4</label>
        </div>
      </div>

    </div>
    <div class="Modal-box-second">

      <div class="SelectInfos tabs">
        <div class="SelectInfos-left">
          <div class="SelectInfos-bloc SelectInfos-IndicePrix current" data-tab="tab-3">
            <p>
              <img src="assets/imgs/price.png">
              <span>Indice Station</span>
            </p>
          </div>
          <div class="SelectInfos-bloc SelectInfos-Adresse" data-tab="tab-4">
            <p>
              <img src="assets/imgs/localization.png">
              <span>
                Adresse
              </span>
            </p>
          </div>
        </div>
        <div class="SelectInfos-right">
          <div class="SelectInfos-bloc SelectInfos-Services" data-tab="tab-2">
            <p>
              <img src="assets/imgs/service.png">
              Services
            </p>
          </div>
          <div class="SelectInfos-bloc SelectInfos-Horaires" data-tab="tab-1">
            <p>
              <img src="assets/imgs/hour.png">
              <span>
                Horaires
              </span>
            </p>
          </div>
        </div>
      </div>
      <div class="SelectInfos SelectInfos-tab">

        <div id="tab-1" class="tab-content">
          <div class="title">Horaires</div>
          <p class="text-tabs fullwidth">
            Lundi : 8h - 19h
            <br />
            Mardi : 8h - 19h
            <br />
            Mercredi : 8h - 19h
            <br />
            Jeudi : 8h - 19h
            <br />
            Vendredi : 8h - 19h
            <br />
            Samedi : 8h - 19h
            <br />
            Dimanche : 8h - 19h
          </p>
        </div>
        <div id="tab-2" class="tab-content">
          <div class="title">Services</div>
          <p class="text-tabs fullwidth">
            Restauration, Pneus, Aspirateur, Supérette
          </p>
        </div>
        <div id="tab-3" class="tab-content current">
          <div class="title">Indice</div>
          <img class="pic-tabs" src="assets/imgs/station_verte.png">
          <br />
          <p class="text-tabs">
            Cette station est actuellement classée "Station verte" : elle a actuellement un prix moyen inférieur par rapport à ses concurrent.
          </p>
        </div>
        <div id="tab-4" class="tab-content">
          <div class="title">Adresse</div>
          <p class="text-tabs fullwidth">
            Adresse de la station
          </p>
        </div>

      </div>

    </div>
  </div>
</div>


