modal {
  .Modal {
    position: absolute;
    z-index: 50;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;

    &.openClose {
      z-index: -100;
      opacity: 0;
    }

    @include tablet {
      height: auto;
    }
     &-box {
       background: #000;
       width: 80%;
       min-height: 80%;
       box-shadow: 0 0 40px rgba(237,135,54,0.4);
       padding: 10px;
       position: relative;
       flex-wrap: wrap;
       overflow: auto;

       @include tablet {
         display: block;
         width: 100%;
         min-height: 100%;
       }

       &-first {
          width: 100%;
         position: relative;

         @include tablet {
           width: 100%;
         }
       }

       &-second {
         width: 100%;
         display: flex;
         align-items: center;
         justify-content: center;

         @include tablet {
           display: block;
         }
       }
     }

    .SelectInfos {
      width: 50%;
      display: flex;
      align-items: center;
      justify-content: center;

      @include tablet {
        width: 100%;
      }

      &-tab {
        height: 200px;
        background: lighten(#000, 10%);
        margin-left: 2%;
        text-align: center;

        @include tablet {
          width: 98%;
          margin: 1%;
          display: block;
        }
      }

      &-left {
        width: 50%;
      }
      &-right {
        width: 50%;
      }
      &-bloc {
        background: lighten(#000, 10%);
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 5px;

        img {
          display: inline;
          line-height: 30px;
          vertical-align: middle;
          height: 30px;
          margin-right: 10px;
        }

        span {
          display: inline;
          line-height: 30px;
          vertical-align: middle;
        }

        p {
          margin: 0;
          padding: 0;
          position: relative;
          z-index: 55;
        }
      }
      &-Horaires {
        height: 95px;
        text-align: center;
      }
      &-Services {
        height: 95px;
      }
      &-IndicePrix {
        height: 95px;
      }
      &-Adresse {
        height: 95px;
      }
    }

    .container{
      width: 100%;
    }

    .tabs{
      margin: 0px;
      padding: 0px;
    }

    .tabs .SelectInfos-bloc.current {
      background: lighten(#000, 20%);
    }

    .tab-content {
      display: none;
      padding: 15px;
      animation: fade 1s;
      width: 100%;
      text-align: center;

      .title {
        position: absolute;
        color: lighten(#000, 15%);
        font-size: 60px;
        font-weight: bold;
        font-family: 'Montserrat', sans-serif;
        text-transform: uppercase;
        margin-top: -20px;
        z-index: 51;
      }
    }

    .tab-content.current{
      display: inherit;
    }

    @keyframes fade {
      0% {opacity: 0;}
      100% {opacity: 1;}
    }
  }
  .Carburants {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    z-index: 20;
    position: relative;
    //margin-top: 420px;

    .Carburant {
      margin-bottom: 30px;
      input[type=radio] {
        display: none;
      }
      input[type=radio], label {
        color: #ff524e;
        font-weight: bold;
        text-transform: uppercase;
        cursor: pointer;
        border: 3px solid #ff524e;
        padding: 6px 40px;
        border-radius: 80px;
        background: none;
        margin-right: 15px;
      }
      input[type=radio]:checked, label {
        color: #191a1a;
        background: linear-gradient(to right, #ff524e, #ffbb72);
        padding: 9px 43px;
        border: none;
        box-shadow: 1px 1px 6px 0 #ff855f;

      }
    }
  }


  .pic-tabs {
    position: relative;
    z-index: 55;
  }
  .text-tabs {
    position: relative;
    z-index: 55;
  }
  .fullwidth {
    width: 100%;
  }
}