<div class="ArrowButton ArrowButton--mobile"  (click)="switchFilter()">
    <span></span>
</div>
<div class="AsideBloc" [ngClass]="{'expandFilter': expandFilter}">
    <div class="ArrowButton" [ngClass]="{'expandFilter': !expandFilter}" (click)="switchFilter()">
        <span></span>
    </div>
    <div class="AsideBloc--flex">
        <div class="AsideBloc-loca">
            <span class="AsideBloc-loca-background">Localisation</span>
            <h2>Localisation</h2>
            <div class="Selectors">
                <div class="Selector">
                    <input type="checkbox" id="aroundme" name="aroundme">
                    <label for="aroundme">{{ autour }}</label>
                </div>
                <div class="Selector">
                    <input type="checkbox" id="france" name="france">
                    <label for="france">{{ france }}</label>
                </div>
            </div>
        </div>
        <div class="AsideBloc-carburant">
            <span class="AsideBloc-carburant-background">Carburants</span>
            <h2>Carburants</h2>
            <div class="Selectors">
                <div class="Selector">
                    <input type="checkbox" id="{{ sp95 }}" name="{{ sp95 }}">
                    <label for="{{ sp95 }}">{{ sp95 }}</label>
                </div>
                <div class="Selector">
                    <input type="checkbox" id="{{ sp98 }}" name="{{ sp98 }}">
                    <label for="{{ sp98 }}">{{ sp98 }}</label>
                </div>
                <div class="Selector">
                    <input type="checkbox" id="{{ sp95e10 }}" name="{{ sp95e10 }}">
                    <label for="{{ sp95e10 }}">{{ sp95e10 }}</label>
                </div>
                <div class="Selector">
                    <input type="checkbox" id="{{ gazole }}" name="{{ gazole }}">
                    <label for="{{ gazole }}">{{ gazole }}</label>
                </div>
            </div>
        </div>
        <div class="AsideBloc-searchby">
            <span class="AsideBloc-searchby-background">Recherche</span>
            <h2>Recherche par</h2>
            <div class="Selectors">
                <div class="Selector">
                    <input type="checkbox" id="{{ moinscher }}" name="{{ moinscher }}">
                    <label for="{{ moinscher }}">{{ moinscher }}</label>
                </div>
                <div class="Selector">
                    <input type="checkbox" id="{{ services }}" name="{{ services }}">
                    <label for="{{ services }}">{{ services }}</label>
                </div>
                <div class="Selector">
                    <input type="checkbox" id="{{ nocritere }}" name="{{ nocritere }}">
                    <label for="{{ nocritere }}">{{ nocritere }}</label>
                </div>
            </div>
        </div>
        <a class="ButtonFilter" href="#">Rechercher</a>
    </div>
</div>
