.AsideBloc {
  position: absolute;
  width: 750px;
  max-width: 100%;
  min-height: 100vh;
  z-index: 20;
  background-image: linear-gradient(to right, rgba(25,26,26,1), rgba(25,26,26,0.8), rgba(25,26,26,0));
  color: #fff;
  font-family: "Montserrat", sans-serif;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateX(-750px);
  transition: all 1s ease;

  @include tablet {
    max-height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
  }

  &--flex {
    padding: 10px 0;
    @include tablet {
      max-height: 100vh;
    }
    @include phone {
      padding-top: 50px;
    }
  }

  h2 {
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    font-size: 20px;
  }

  &-loca, &-carburant, &-searchby {
    width: 100%;
    position: relative;
    margin-bottom: 30px;

    &-background {
      color: #fff;
      opacity: 0.1;
      font-weight: bold;
      text-transform: uppercase;
      font-size: 80px;
      position: absolute;
      top: -10px;
      z-index: 15;
    }
  }

  .Selectors {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    z-index: 20;
    position: relative;
    margin-top: 40px;

    .Selector {
      margin-bottom: 30px;
      input[type=checkbox] {
        display: none;
      }
      input[type=checkbox] + label {
        color: #ff524e;
        font-weight: bold;
        text-transform: uppercase;
        cursor: pointer;
        border: 3px solid #ff524e;
        padding: 6px 40px;
        border-radius: 80px;
        background: none;
        margin-right: 15px;
      }
      input[type=checkbox]:checked + label {
        color: #191a1a;
        background: linear-gradient(to right, #ff524e, #ffbb72);
        padding: 9px 43px;
        border: none;
        box-shadow: 1px 1px 6px 0 #ff855f;

      }
    }
  }
  .ButtonFilter {
    display: block;
    margin: 30px auto;
    width: 250px;
    text-align: center;
    max-width: 90%;
    padding: 6px 40px;
    border-radius: 50px;
    border: 3px solid #ff524e;
    color: #ff524e;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    background: none;
    font-size: 18px;
    transition: all .1s ease-in;

    &:hover {
      background: #ffbb72;
      color: #191a1a;
      border: 3px solid #ffbb72;
      opacity: 1;
    }
  }
}

.ArrowButton {
  display: block;
  width: 50px;
  height: 50px;
  background: white;
  position: absolute;
  top: 80px;
  right: -50px;
  z-index: 25;

  @include tablet {
    display: none;
    right: 0;
  }

  &--mobile {
    display: none;
    background: crimson;
    position: fixed;
    left: 0;
    top: 0;
    @include tablet {
      display: block;
    }
  }
}

.expandFilter {
  transform: translateX(0px);
}
