<!--
  Generated template for the MapsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-content>
  <filtre></filtre>
  <search></search>
  <menu></menu>
  <modal></modal>
  <div id="maps"></div>
</ion-content>
