page-maps {
  .marker {
    background-image: url('../../assets/imgs/cursor.png');
    background-size: cover;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    cursor: pointer;
  }
  #maps{
    width: 100%;
    height: 100vh;
  }
  .mapboxgl-popup-content {
    background: black;
    border-radius: 15px;
    color: #fff;
    border: 3px solid #ff524e;
    min-width: 280px;
    max-width: 100%;
    text-align: center;
    font-size: 1.3em;

    p {
      margin: 0;
      padding: 0;
    }
    button.go-to {
      display: block;
      width: 80%;
      padding: 10px;
      border-radius: 30px;
      margin: 0 auto;
      background: linear-gradient(to right, #ff524e, #ffbb72);
      font-weight: bold;
      text-transform: uppercase;
      box-shadow: rgb(255, 133, 95) 1px 1px 6px 0px;
    }
  }
  .mapboxgl-popup-tip {
    border-top-color: #ff524e!important;
  }

  .mapboxgl-popup-close-button {
    color: white;
    font-size: 30px;
    background: #ff524e;
    margin-top: -1px;
    border-radius: 0 10px 0 10px;

    &:hover {
      background: #ff524e;
    }
  }
}
