page-maps .marker {
  background-image: url("../../assets/imgs/cursor.png");
  background-size: cover;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  cursor: pointer;
}
page-maps #maps {
  width: 100%;
  height: 100vh;
}
page-maps .mapboxgl-popup-content {
  background: black;
  border-radius: 15px;
  color: #fff;
  border: 3px solid #ff524e;
  min-width: 280px;
  max-width: 100%;
  text-align: center;
  font-size: 1.3em;
}
page-maps .mapboxgl-popup-content p {
  margin: 0;
  padding: 0;
}
page-maps .mapboxgl-popup-content button.go-to {
  display: block;
  width: 80%;
  padding: 10px;
  border-radius: 30px;
  margin: 0 auto;
  background: linear-gradient(to right, #ff524e, #ffbb72);
  font-weight: bold;
  text-transform: uppercase;
  box-shadow: #ff855f 1px 1px 6px 0px;
}
page-maps .mapboxgl-popup-tip {
  border-top-color: #ff524e !important;
}
page-maps .mapboxgl-popup-close-button {
  color: white;
  font-size: 30px;
  background: #ff524e;
  margin-top: -1px;
  border-radius: 0 10px 0 10px;
}
page-maps .mapboxgl-popup-close-button:hover {
  background: #ff524e;
}

/*# sourceMappingURL=maps.css.map */
