menu {
  position: absolute;
}
$background--color:#1e2023;
$icon--color:#1e2023;
$font--color:#ffffff;
$font--color--active:#fff;
$font--primary:'Fira Sans', sans-serif;
$transition--length: .8;

body{
  background-color: $background--color;
  font-family: $font--primary;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.site-content{
  max-width: 1100px;
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  &__headline{
    font-weight: 200;
    color: $font--color;
    font-size: calc(2vw + 10px);
  }
}

//default state
.menu-icon{
  $size: 30px;
  height: $size;
  width: $size;
  position: fixed;
  z-index:35;
  right: 50px;
  top: 30px;
  cursor: pointer;
  &__line{
    height: 2px;
    width: $size;
    display: block;
    background-color: $font--color;
    margin-bottom: 4px;
    transition: transform .2s ease, background-color .5s ease;
  }
  &__line-left{
    width: $size / 2;
  }
  &__line-right{
    width: $size / 2;
    float: right;
  }
}

.nav{
  $width: 100vw;
  $height: 100vh;
  $font--size--calc: calc(2vw + 10px);
  $transition--easing: cubic-bezier(.77,0,.175,1);
  position: relative;
  z-index:1;
  &:before,&:after{
    content: "";
    position: absolute;
    top: -15px;
    left: -40px;
    width:$width;
    height:$height;
    background: rgba(#eaeaea, .2);
    z-index: -1;
    transition: transform $transition--easing $transition--length + s;
    transform: translateX(0%) translateY(-100%);
  }
  &:after{
    background: rgba(#191a1a, 1);
    transition-delay: 0s;
  }
  &:before{
    transition-delay: .1s;
  }
  &__content{
    position: fixed;
    top:50%;
    display: none;
    transform: translate(0%,-50%);
    width: 100%;
    text-align: center;
    font-size: $font--size--calc;
    font-weight: 200;
    cursor: pointer;
  }
  &__circle{
    opacity: 0;
    transition-delay: $transition--length + s;
    transition: opacity .2s ease;
  }
  &__list-item{
    position: relative;
    display: inline-block;
    transition-delay: $transition--length + s;
    opacity: 0;
    transform: translate(0%, 100%);
    transition: opacity .2s ease, transform .3s ease;
    margin-right: 25px;
    color: #fff;
    &:before{
      content: "";
      position: absolute;
      background: $font--color--active;
      width: 20px;
      height: 1px;
      top: 100%;
      transform: translate(0%, 0%);
      transition: all .3s ease;
      z-index: -1;
    }
    &:hover{
      &:before{
        width: 100%;
      }
    }
  }
}

//active state
body.nav-active{
  $menu--items--count: 4;
  .menu-icon{
    &__line{
      background-color: #fff;
      transform: translateX(0px) rotate(-45deg);
    }
    &__line-left{
      transform: translateX(1px) rotate(45deg);
    }
    &__line-right{
      transform: translateX(-2px) rotate(45deg);
    }
  }
  .nav{
    visibility:visible;
    &:before,&:after{
      transform: translateX(0%) translateY(0%);
    }
    &:after{
      transition-delay: .1s;
    }
    &:before{
      transition-delay: 0s;
    }
    &__circle{
      opacity: 1;
      transition-delay: 3s;
      transition: opacity .3s ease;
    }
    &__content{
      display: block;
    }
    &__list-item{
      opacity: 1;
      transform: translateX(0%);
      transition: opacity .3s ease, transform .3s ease, color .3s ease;
      @for $i from 0 through $menu--items--count {
        &:nth-child(#{$i}){
          transition-delay: $transition--length * $i / 8 + .5 + s;
        }
      }
    }
  }
}

.circles {
  animation: move-up-down 1s infinite;
  background: #ff5650;
  background: -webkit-linear-gradient(0deg, #ffb771 0%, #ff5650 100%);
  background: -o-linear-gradient(0deg, #ffb771 0%, #ff5650 100%);
  background: -moz-linear-gradient(0deg, #ffb771 0%, #ff5650 100%);
  background: linear-gradient(0deg, #ffb771 0%, #ff5650 100%);
  position: absolute;
  transition: 0.5s ease-out;
  overflow: hidden;
  border-radius: 50%;
}

.circles.circle1 {
  animation: move-up-down 4s infinite;
  height: 300px;
  width: 300px;
  opacity: 0.7;
  left: 50%;
  top: -21%;
}

.circles.circle2 {
  animation: move-up-down 6s infinite;
  height: 400px;
  width: 400px;
  opacity: 0.6;
  right: -5%;
  top: -12%;
}

.circles.circle4 {
  animation: move-up-down 10s infinite;
  height: 100px;
  width: 100px;
  opacity: 0.7;
  right: 27%;
  top: 70%;
}

.circles.circle5 {
  animation: move-up-down 6s infinite;
  height: 250px;
  width: 250px;
  opacity: 0.3;
  left: 42%;
  bottom: 19%;
}

.circles.circle6 {
  animation: move-up-down 9s infinite;
  left: 60%;
  top: 35%;
  height: 80px;
  width: 80px;
  opacity: 0.5;
}

.circles.circle7 {
  animation: move-up-down 3s infinite;
  width: 300px;
  height: 300px;
  right: -5%;
  bottom: 0%;
  opacity: 0.4;
}
.background {
  width: 100%;
  height: 100%;
}

@keyframes show {
  0% {
    display: none;
  }
  100% {
    display: block;
  }
}

@keyframes move-up-down {
  0% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}

