<div class="Menu">
  <div class="menu-icon">
    <span class="menu-icon__line menu-icon__line-left"></span>
    <span class="menu-icon__line"></span>
    <span class="menu-icon__line menu-icon__line-right"></span>
  </div>

  <div style="z-index: 30" class="nav">
    <div class="nav__content">
      <div class="background nav__circle">
        <div class="circles circle1"></div>
        <div class="circles circle2"></div>
        <div class="circles circle4"></div>
        <div class="circles circle5"></div>
        <div class="circles circle6"></div>
        <div class="circles circle7"></div>
      </div>
      <ul class="nav__list">
        <li class="nav__list-item">Accueil</li>
        <li class="nav__list-item">Visualisation</li>
        <li class="nav__list-item">Contact</li>
      </ul>
    </div>
  </div>
</div>
