menu {
  position: absolute;
}

body {
  background-color: #1e2023;
  font-family: "Fira Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.site-content {
  max-width: 1100px;
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.site-content__headline {
  font-weight: 200;
  color: #ffffff;
  font-size: calc(2vw + 10px);
}

.menu-icon {
  height: 30px;
  width: 30px;
  position: fixed;
  z-index: 35;
  right: 50px;
  top: 30px;
  cursor: pointer;
}
.menu-icon__line {
  height: 2px;
  width: 30px;
  display: block;
  background-color: #ffffff;
  margin-bottom: 4px;
  transition: transform 0.2s ease, background-color 0.5s ease;
}
.menu-icon__line-left {
  width: 15px;
}
.menu-icon__line-right {
  width: 15px;
  float: right;
}

.nav {
  position: relative;
  z-index: 1;
}
.nav:before, .nav:after {
  content: "";
  position: absolute;
  top: -15px;
  left: -40px;
  width: 100vw;
  height: 100vh;
  background: rgba(234, 234, 234, 0.2);
  z-index: -1;
  transition: transform cubic-bezier(0.77, 0, 0.175, 1) 0.8s;
  transform: translateX(0%) translateY(-100%);
}
.nav:after {
  background: #191a1a;
  transition-delay: 0s;
}
.nav:before {
  transition-delay: 0.1s;
}
.nav__content {
  position: fixed;
  top: 50%;
  display: none;
  transform: translate(0%, -50%);
  width: 100%;
  text-align: center;
  font-size: calc(2vw + 10px);
  font-weight: 200;
  cursor: pointer;
}
.nav__circle {
  opacity: 0;
  transition-delay: 0.8s;
  transition: opacity 0.2s ease;
}
.nav__list-item {
  position: relative;
  display: inline-block;
  transition-delay: 0.8s;
  opacity: 0;
  transform: translate(0%, 100%);
  transition: opacity 0.2s ease, transform 0.3s ease;
  margin-right: 25px;
  color: #fff;
}
.nav__list-item:before {
  content: "";
  position: absolute;
  background: #fff;
  width: 20px;
  height: 1px;
  top: 100%;
  transform: translate(0%, 0%);
  transition: all 0.3s ease;
  z-index: -1;
}
.nav__list-item:hover:before {
  width: 100%;
}

body.nav-active .menu-icon__line {
  background-color: #fff;
  transform: translateX(0px) rotate(-45deg);
}
body.nav-active .menu-icon__line-left {
  transform: translateX(1px) rotate(45deg);
}
body.nav-active .menu-icon__line-right {
  transform: translateX(-2px) rotate(45deg);
}
body.nav-active .nav {
  visibility: visible;
}
body.nav-active .nav:before, body.nav-active .nav:after {
  transform: translateX(0%) translateY(0%);
}
body.nav-active .nav:after {
  transition-delay: 0.1s;
}
body.nav-active .nav:before {
  transition-delay: 0s;
}
body.nav-active .nav__circle {
  opacity: 1;
  transition-delay: 3s;
  transition: opacity 0.3s ease;
}
body.nav-active .nav__content {
  display: block;
}
body.nav-active .nav__list-item {
  opacity: 1;
  transform: translateX(0%);
  transition: opacity 0.3s ease, transform 0.3s ease, color 0.3s ease;
}
body.nav-active .nav__list-item:nth-child(0) {
  transition-delay: 0.5s;
}
body.nav-active .nav__list-item:nth-child(1) {
  transition-delay: 0.6s;
}
body.nav-active .nav__list-item:nth-child(2) {
  transition-delay: 0.7s;
}
body.nav-active .nav__list-item:nth-child(3) {
  transition-delay: 0.8s;
}
body.nav-active .nav__list-item:nth-child(4) {
  transition-delay: 0.9s;
}

.circles {
  animation: move-up-down 1s infinite;
  background: #ff5650;
  background: -webkit-linear-gradient(0deg, #ffb771 0%, #ff5650 100%);
  background: -o-linear-gradient(0deg, #ffb771 0%, #ff5650 100%);
  background: -moz-linear-gradient(0deg, #ffb771 0%, #ff5650 100%);
  background: linear-gradient(0deg, #ffb771 0%, #ff5650 100%);
  position: absolute;
  transition: 0.5s ease-out;
  overflow: hidden;
  border-radius: 50%;
}

.circles.circle1 {
  animation: move-up-down 4s infinite;
  height: 300px;
  width: 300px;
  opacity: 0.7;
  left: 50%;
  top: -21%;
}

.circles.circle2 {
  animation: move-up-down 6s infinite;
  height: 400px;
  width: 400px;
  opacity: 0.6;
  right: -5%;
  top: -12%;
}

.circles.circle4 {
  animation: move-up-down 10s infinite;
  height: 100px;
  width: 100px;
  opacity: 0.7;
  right: 27%;
  top: 70%;
}

.circles.circle5 {
  animation: move-up-down 6s infinite;
  height: 250px;
  width: 250px;
  opacity: 0.3;
  left: 42%;
  bottom: 19%;
}

.circles.circle6 {
  animation: move-up-down 9s infinite;
  left: 60%;
  top: 35%;
  height: 80px;
  width: 80px;
  opacity: 0.5;
}

.circles.circle7 {
  animation: move-up-down 3s infinite;
  width: 300px;
  height: 300px;
  right: -5%;
  bottom: 0%;
  opacity: 0.4;
}

.background {
  width: 100%;
  height: 100%;
}

@keyframes show {
  0% {
    display: none;
  }
  100% {
    display: block;
  }
}
@keyframes move-up-down {
  0% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}

/*# sourceMappingURL=menu.css.map */
