<!-- Generated template for the SearchComponent component -->
<div>
  <div class="containerForm">
    <form action="test.html" method="post">
      <input [(ngModel)]="content" placeholder="RECHERCHER UNE VILLE" type="text" id="search" name="search">
      <button (click)="search()" class="buttonSearch"><i class="fas fa-search"></i></button>
    </form>
  </div>
</div>
