search {
  .containerForm{
    width: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 20;
    margin-top: 20px;
    input[type=text] {
      width: 500px;
      background-color: #191a1a !important;
      font-size: 18px;
      color: #9a9999;
      font-weight: bold;
      text-transform: uppercase;
      cursor: pointer;
      border: 3px solid #ff524e;
      padding: 6px 40px;
      border-radius: 80px;
      background: none;
      margin-right: 15px;
    }
    .buttonSearch{
      font-size: 25px;
      color: white;
      padding: 7px;
      background: linear-gradient(to right, #ff524e, #ffbb72);
      border-radius: 50px;
      width: 80px;
      box-shadow: 1px 1px 6px 0 #ff855f;
    }
  }
}
